/* adds all main colours */

:root {
    --bs-primary: #0f4d92;
    --bs-primary-rgb: 15, 77, 146;
    --bs-secondary: #b8afff;
    --bs-secondary-rgb: 184, 175, 255;
    --bs-dark: #0d0c1d;
    --bs-dark: rgb(13, 12, 29);
    --bs-light: #ffffff;
}

.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-light);
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary)e;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.btn-secondary {
     --bs-btn-font-weight: 700;
    --bs-btn-color: var(--bs-dark);
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-dark);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary)e;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
}

.banner { 
   
    background-image: url(../images/camera.jpg);
    background-position: center;
    background-size: 100%;
}




h4 {
    font-size: 40px;
    text-align: center;
    padding: 100px;
}

h5 {
    font-size: 40px;
    text-align: center;
    padding: 50px;
}

.website img {
 width: 150%;
 border: 15px solid;
 border-color: #B8AFFF;
 margin-left: -50px;
 margin-bottom: -100px;
}

.website2 img {
    width: 150%;
    border: 15px solid;
    border-color: #B8AFFF;
    margin-left: -50px;
    margin-top:100px;
}
.website-text {
    font-size: 22px;
    text-align: left;
    background-color: #0F4D92;
    border: 15px solid;
    border-color: #B8AFFF;
    padding: 50px;
    margin-bottom: 30px;
   
}
.website-text2 {
      font-size: 22px;
    text-align: left;
    background-color: #0F4D92;
    border: 15px solid;
    border-color: #B8AFFF;
    padding: 50px;
    margin-top: 200px;
    margin-left: 150px;
  
}
body {
    background-color: #0D0C1D;
    color: aliceblue;
}

.website-text3 {
    font-size: 22px;
    text-align: left;
    background-color: #0F4D92;
    border: 15px solid;
    border-color: #B8AFFF;
    padding: 30px;
}

.carousel {
    max-width: 800px;
    margin: auto;
   border: 15px solid;
   border-color: #B8AFFF;
}

/* about me */


.anthony img {
    font-size: 20px;
    border: 15px solid;
    border-color: var(--bs-secondary);
    margin-left: 95px;
    margin-top: -10px;
    border-radius: 10%;
}

.about-text {
    font-size: 20px;
    border: 15px solid;
    border-color: var(--bs-secondary);
    background-color: var(--bs-primary);
    padding: 50px;
    margin-bottom: 250px;
}

/* adds style to social media */
.social-media {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    background-color: var(--bs-primary);
    padding-bottom: 30px;
    border-radius: 30px;
    border-style: solid;
    border-color:#b8afff;
    border: 15px solid;
}

.social-media i {
    font-size: 50px;
}

footer {
    padding-top: 100px;
}

.projects {
    max-width: 1200px;
    margin: 0 auto;
}

.projects li {
    color: #ffffff;
    text-align: start;
    padding-bottom: 2%;
}

.card {
    border: 15px solid;

    padding: 10px;
    background-color:#B8AFFF ;
    
}

.card p {
    color: white;
}

.card a {
    color: #000;
}

.card h3 {
    color: #ffffff;
}

.back {
    max-width: 1200px;
    margin: 0 auto;
}
.mobile-preview{
        display: none;
    }

.about-mobile {
    display: none;
}

/* iphone size */
@media(min-device-width: 300px) and (max-width:767px) {
    .container {
        max-width: 767px;
        margin: 0 auto;
    }

    .mobile-preview {
        display: grid;
    }

    /* home page */
    .banner {
        background-image: none;
    }

    .banner a {
        margin-top: 30px;
        margin-left:40px ;
        max-width: 300px;   
    }

    .container {
        display: flex;
    }

    .website-img {
       display: none;
    }

    .website-text {
        display: none;
    }
    

    .website-img2 {
       display: none;
    }

    .website-text2 {
        display: none;

    }

    .website-text3 {
        font-size: 15px;
    }

    /* About page */

    .about-mobile {
        display: grid;
    }

    .anthony {
        display: none;
    }

    .about-text {
      display: none;
    }

    /* Social Media */


}






/* adds hamberger icon and "x" icon for nav */
.navbar-toggler[aria-expanded="true"] .bi-list,
.navbar-toggler[aria-expanded="false"] .bi-x-lg {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .bi-x-lg,
.navbar-toggler[aria-expanded="false"] .bi-list {
    display: inline;
}